<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nju.topology.mapper.TaskMapper">


    <select id="getHistoryRecords" resultType="com.nju.topology.dto.HistoryRecordDTO">
        SELECT id, type, score
        FROM topology
        WHERE user_id = #{id}
    </select>


    <select id="getConfigurationMessage" resultType="string">
        select configuration
        from topology
        where id = #{id}
    </select>

    <select id="getScoreList" resultType="com.nju.topology.dto.ScoreListDTO">
        SELECT topology.id, user.student_id, user.`name`, topology.score
        FROM topology
                 JOIN user
        WHERE topology.task_id = #{id}
          and topology.user_id = user.id;
    </select>
</mapper>