<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nju.topology.mapper.UserMapper">

    <sql id="insertFields">
        student_id, name, password, type
    </sql>

    <insert id="insertUser">
        insert into user (<include refid="insertFields"></include>)
        values (#{studentId}, #{name}, #{password}, #{type});
    </insert>
    <update id="updateUser">
        update user
        set student_id = #{studentId},
            name       = #{name},
            password   = #{password},
            type       = #{type}
        where id = #{id};
    </update>
    <delete id="deleteUserById">
        delete
        from user
        where id = #{id};
    </delete>
    <select id="getUserList" resultType="com.nju.topology.entity.User">
        select * from user;
    </select>
    <select id="getUserByStudentId" resultType="com.nju.topology.entity.User">
        select *
        from user
        where student_id = #{studentId};
    </select>
</mapper>