<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nju.topology.mapper.UserMapper">

    <sql id="insertFields">
        student_id, name, password, type
    </sql>

    <insert id="insertUser">
        insert into user (<include refid="insertFields"></include>)
        values (#{studentId}, #{name}, #{password}, #{type});
    </insert>
</mapper>